upload/enterprise/
upload/report/
upload/video/
upload/slider/
upload/news/
upload/about/
upload/message/
upload/setting/
upload/donate/
upload/banner/
upload/product/
upload/producer/
upload/floor/
upload/building/
resource/
upload/icon/
protected/tmp/

/vendor/

*.swp
